/* Global styles */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: start;
    border-radius: 6px;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
/* new */
  .error-icon {
    position: relative;
    display: inline-block;

    width: 18px;
    height: 18px;
  }
  
  .error-icon .errortooltip {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: start;
    border-radius: 6px;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .error-icon .errortooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .error-icon:hover .errortooltip {
    visibility: visible;
  }

  
  .direct {
    display: flex;
    align-items: center;
  }
  .input-container {
    position: relative;
  }



  
  /* Show the tooltip text when you mouse over the tooltip container */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    
}

label {
    font-weight: bold;
    padding: 10px 0;
}

.error-icon {
    display: none; /* Initially hide the error icon */
    position: absolute;
    right: 50px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    color: #8f8f8f; /* Customize color as needed */
    cursor: pointer;
}

.error-icon:hover::after {
    content: attr(title);
    position: absolute;
    top: -30px;
    left: 0;
    background-color: #f2f2f2;
    color: #333;
    margin-left: -30px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-control {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Modal content styles */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Close button styles */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#overallIncomeDisplay {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.modal-header {
    border-bottom: none;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    font-size: 24px;
}

.modal-body {
    padding: 20px;
}

.close {
    color: black;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
